<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD BLOG</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='merged_style.css') }}">
</head>
<body>
<div class="cards">
    <div class="cards__item">
        <h1 class="card__title">ADD BLOG</h1>
        <form action="/animal-info" method="POST" class="form-group">
            <p class="card__text"></p>
            <input type="text" id="author" name="author" placeholder="Author" required class="input-field"><br>
            <input type="text" id="title" name="title" placeholder="Blog Title" required class="input-field"><br>
            <textarea id="content" name="content" placeholder="Enter your Blog here..."></textarea>
            <input type="submit" value="Submit" class="submit-button">
        </form>
    </div>
</div>
</body>
</html>


{"id": 1, "author": "John Doe", "title": "First Post", "content": "This is my first post."},